//default classes

.marginTopBottom {
  margin: 20px 0px !important;
}

.textAlignCenter {
  text-align: center !important;
}

//styles

.Container {
  display: flex !important;
  margin-bottom: 80px !important;
}

.AppBar {
  background-color: #009999 !important
}

.IconButton {
  margin-right: 20px !important;
}

.NavItems {
  color: white !important;
}

@media only screen and (min-width: 600px) {
  .IconButton {
    display: none !important;
  }
}

@media only screen and (max-width: 600px) {
  .NavItems {
    display: none !important;
  }
}

@media only screen and (max-width: 320px) {
  .SiteName {
    font-size: 16px !important;
  }
}

.SiteName {
  flex-grow: 1 !important;
}

.LangContainer {
  display: flex;
  img {
    cursor: pointer;
    margin-right: 7px;
  }
}

